.search-by-name {
  justify-self: left;
  align-self: center;
  width: 90%;
  padding: 10px;
  display: grid;
  grid-template-columns: 40% 70%;
  place-items: self-start;
}

.search-by-name input {
  background-color: #f8f8f7;
  border-radius: 5px;
}
.search-by-name input:hover {
  border: 1px solid #5c936e;
}
.search-by-name input:focus-visible {
  border: 2px solid #5c936e;
}

.MuiBox-root {
  background-color: #f8f8f7;
  border-radius: 5px;
}
