.search-by-name {
  justify-self: left;
  align-self: center;
  width: 90%;
  padding: 10px;
}
.search-by-name input {
  display: inline-block;
  margin: 0 auto;
  height: 38px;
  width: 280px;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
}

.search-by-name input:hover {
  border: 1px solid #5c936e;
}
.search-by-name input:focus-visible {
  border: 2px solid #5c936e;
}

.search-by-name select {
  display: inline-block;
  height: 38px;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 0 10px;
}
.search-by-name select * {
  background-color: blue;
}
