.divider {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.card .show-more {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.details {
  grid-column: 1/3;
  padding: 20px;
}
