.student {
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 2px solid #5c936e;
  transition: all ease-in 0.15s;
}

.student:hover {
  border: 4px solid #5c936e;
  background-color: rgb(237, 234, 234);
}
.divider {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.card .show-more {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.details {
  grid-column: 1/3;
  padding: 20px;
}
