.App {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url("https://media.gettyimages.com/id/92867451/video/streak-blur-abstract-blue.jpg?s=640x640&k=20&c=2d57nDO8LcDMH7avbaSu3alUyKMPe90BUJF5-j3Ht4M=");
}

#not-on-track {
  color: brown;
  font-size: larger;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#onTrack {
  color: rgb(71, 117, 2);
  font-size: larger;
}

.cohort-list {
  grid-column: 1 / 2;
  color: rgba(144, 108, 9, 0.874);
  font-size: larger;
}

.cohort-container {
  border: solid 5px rgb(167, 198, 57);
  margin: 30px 10px;
  width: fit-content;
}

#tally {
  color: blue;
}

#note-btn:hover,
#show-more-btn:hover {
  background-color: blue;
  color: aliceblue;
}

.certs h4,
.scores h4,
#codewars h4,
.comments {
  margin: 5px;
  color: rgba(144, 108, 9, 0.874);
}

.one-on-one {
  align-items: center;
  width: fit-content;
  border: solid 5px rgb(167, 198, 57);
  margin: 10px;
}
.one-on-one u {
  color: rgb(190, 82, 5);
}

.certs h6,
.scores h6,
#codewars h6 {
  margin: 15px;
}

.cohort-list li:hover {
  color: blueviolet;
}

.cohort-title {
  color: mediumaquamarine;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: underline;
  text-decoration-color: rgb(49, 165, 14);
}

.yellow {
  color: yellow;
}

.green {
  color: rgb(93, 155, 0);
}

.red {
  color: rgb(136, 0, 0);
}

.profileList {
  color: rgb(167, 207, 6);
}
.card {
  max-width: fit-content;

  border: solid 5px rgb(57, 198, 130);
  margin-bottom: 10px;
  color: rgb(17, 76, 78);
  background-color: aqua;
}

.face {
  width: 300px;
  height: fit-content;
}

header {
  display: flex;
  justify-content: center;
  background: url("https://st3.depositphotos.com/7110532/12886/v/600/depositphotos_128862864-stock-illustration-generic-background-with-multiple-colorful.jpg");
  background-size: contain;
  color: rgba(8, 33, 108, 0.708);
}
