* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: rgb(57, 135, 199);
    text-align: center;
    color: white;
    font-size: x-large;
    text-shadow: 6px 6px rgb(11, 11, 26);
    border: 9px solid  rgb(32, 128, 231);
}

h1.cohorts {
    color: rgb(57, 135, 199);
    text-decoration: underline black dotted;
}

h1.title, h3 {
    text-align: right;
    padding-right: 50px;
}

.student-count {
    color: rgb(57, 135, 199);
    text-align: center;
}

.student-name {
    background-color: rgb(207, 207, 208);
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
}

.cohorts {
    text-align: center;
}

.student-card {
    border: 1px solid black;
    display: flex;
    column-gap: 30px;
}

img {
    height: 150px;
    width: 150px;
    border: 5px solid rgb(0, 0, 0);
}

.show-hide, .birthday {
    color: rgb(57, 135, 199);
}

.show-hide {
    text-decoration: underline;
    border: none;
    background-color: white;
    cursor: pointer;
}

.photo {
    padding: 40px;
}

.cohort-list {
    list-style: none;
}

.cohort-list {
    font-size: xx-large;
    font-weight: bold;
    cursor: pointer;
}

.cohort-list:hover {
    color: rgb(168, 210, 62);
}

#all-students, .title {
    background-color: black;
    color: white;
}

.cohort-list:nth-child(even){
    background-color: rgb(225, 217, 200);
}

.cohort-list:nth-child(odd){
    background-color: rgb(32, 128, 231);
}

.on-track {
    display: grid;
    align-items: center;
}

.check {
    color: green;
}

.uncheck {
    color: red;
}

.student-container {
    display: grid;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
    background-color: black;
}

.red {
    color: red;
}

.top-details {
    display: flex;
    column-gap: 50px;
    border-bottom: 1px solid black;
}

.note-button {
    background-color: rgb(57, 135, 199);
    color: white;
}

form {
    border: 1px solid black;
    padding: 10px;
}

h4 {
    text-decoration: underline;
}