.container{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

header{
padding: 50px 0;
text-align: center;
height: 100px;
}

.allStudents{
    background-color: brown;
}

.startDate{
    background-color: chocolate;
}

.liInfo{
margin: 10px;
padding: 5px;
border: solid 5px;
list-style: none;
}

img{
    height: 150px;
}