@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,600&display=swap");

#root,
body,
main {
  min-height: 100vh;
}
.App {
  display: grid;
  grid-template-rows: 100px 70px 1fr;
  font-family: "Open Sans", serif;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 40px 50px;
  gap: 30px;
  background-color: #252831;
  color: #f8f8f7;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  word-spacing: 5px;
}

.search-bar {
  background-color: #8d8c8d;
  display: grid;
  grid-template-columns: 30% 70%;
}
